* {
  @include reset() {
    direction: rtl;
    text-align: right;
    color: map-get($colors, "text");
    font-family: "vazirmatn";

    @include media("xxl") {
      font-size: calc(var(--first-fibo) / 5);
    }
  }

  transition: opacity 0.5s ease-in-out;
  &.hide {
    opacity: 0;
  }
}

body {
  background-color: map-get($colors, "main");
  @include flex();
}

.blur {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
