* {
  @include reset() {
    direction: rtl;
    text-align: right;
    color: map-get($colors, "text");
    font-family: "vazirmatn";

    @include media("xxl") {
      font-size: calc(var(--first-fibo) / 5);
    }
  }

  transition: opacity 0.5s ease-in-out;
  &.hide {
    opacity: 0;
    position: relative;
    z-index: -100 !important;
  }
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: map-get($colors, "main");
  @include flex();
}

.blur {
  width: 100vw;
  height: 100vh;

  background-color: rgba(map-get($colors, "text"), 0.3);

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.link--special {
  $bgc: map-get($colors, "main");

  text-decoration: none;
  background-image: linear-gradient(
    0deg,
    $bgc,
    $bgc 0.5rem,
    transparent 0,
    transparent
  );
  border-radius: 5px;

  &:hover {
    background-image: linear-gradient(
      0deg,
      $bgc,
      $bgc 0.9rem,
      transparent 0,
      transparent
    );
  }
}
