* {
  @include reset() {
    direction: rtl;
    text-align: right;
    color: map-get($colors, "text");
    font-family: "vazirmatn";

    @include media("xxl") {
      font-size: calc(var(--first-fibo) / 5);
    }
  }
}

body {
  background-color: map-get($colors, "main");
  @include flex();
}
